# Editor directories
.vscode/
.history
.idea/

# Logs
logs/
*.log

# Cache
*/__pycache__/
django_cache

# Backup files
*.bak

# DB
db.sqlite3
.DS_Store

# Environments
env/
venv/
.env/
.venv/

# Docker
Dockerfile
docker-compose.*.yml
docker/

# Others
.git
.github
.gitignore
.dockerignore
tests/
setup.cfg
