{% extends 'blog/base.html' %}
{% block title %}{{ title }}{% endblock%}
{% load markdown_extras %}

{% block content %}
    <div class="title">
        <h1 class="page-header">{{ title }}</h1>
    </div>
    <main class="list">
    {% for post in posts %}
        <section class="list-item">
            <h2 class="title">
                <a class="link" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </h2>
            <div class="meta">
                <time>
                {{ post.time_create|date:"d.m.Y H:i" }}
                {% if post.time_create|date:"d.m.Y H:i" < post.time_update|date:"d.m.Y H:i" %}
                / <i class="bi bi-pencil"></i> {{ post.time_update|date:"d.m.Y H:i" }}
                {% endif %}
                </time>
                <span>| {{ post.get_time_read }} minute read </span>
                <span>| category: <a class="post-category" href="{{ post.category.get_absolute_url }}">{{ post.category.title }}</a></span>
                {% if post.tag.exists %}
                <span class="post-tags-inline">
                    :: tags:
                    {% for tag in post.tag.all %}
                    <a class="post-tag" href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
                    {% endfor %}
                </span>
                {% endif %}
            </div>
            <div class="description">
            {{ post.short_description|markdown|truncatewords_html:45 }}
            </div>
            <a class="link" href="{{ post.get_absolute_url }}">Читать дальше →</a>
        </section>
        {% empty %}
        <section class="list-item">
            <div class="description">
                К сожалению, нет результатов
            </div>
        </section>
    {% endfor %}
    </main>
{% endblock %}