{% extends 'blog/base.html' %}
{% block title %}{{ post.title }}{% endblock%}
{% load markdown_extras %}

{% block content %}
<main>
    <article>
        <div class="title">
            <h1 class="title page-header">{{ post.title }}</h1>
            <div class="meta">
                <time>
                {% if post.time_create|date:"d.m.y" == post.time_update|date:"d.m.y" %}
                Posted on {{ post.time_create|date:"d.m.y" }}
                {% else %}
                Updated on {{ post.time_update|date:"d.m.y" }}
                {% endif %}
                </time>
                <span>| {{ post.get_time_read }} minute read </span>
                <span>| category: <a class="post-category" href="{{ post.category.get_absolute_url }}">{{ post.category.title }}</a></span>
            </div>
        </div>
        <section class="body">
            {% if post.thumbnail %}
            <figure><img src="{{ post.thumbnail.url }}" alt="{{ post.title }}"></figure>
            {% endif %}
            {{ post.full_description|markdown }}
        </section>
        {% if post.tag.exists %}
        <div class="meta">
            <span class="post-tags-inline">
                :: tags:
                {% for tag in post.tag.all %}
                <a class="post-tag" href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
                {% endfor %}
            </span>
        </div>
        {% endif %}
    </article>
</main>
{% endblock %}